<h4 >Buscar Persona</h4>
<persona-form (seleccionPersona)="setPersona($event)" ></persona-form>
<br>
<form class="col-12 col-md-6 col-xl-3" #formFicha="ngForm" (ngSubmit)="guardarFicha()">
    <div class="input-group">
        
        <div class="input-group-prepend mb-3"><span class="input-group-text">Fecha de atención</span></div>
        <input class="form-control" type="date" data-date-format="DD MMMM YYYY" name="fecha" [(ngModel)]="ficha.fechaAtencion" style="padding-top: 0px;">
    </div>
    <input type="submit" value="Guardar" class="btn btn-success"> 
</form>
