<encabezado-osprera ng-model="encabezadoScope" user="usuarioLogueado" logout-callback="logout()" home-callback="toSIO()" class="ng-pristine ng-untouched ng-valid ng-isolate-scope">
    
    <header id="topnav">
        <div class="topbar-main" ng-show="ngModel.mostrarHeader">
            <div class="container-fluid">
                <!-- Logo container-->
                <div class="logo" ng-click="GoHome();" style="cursor: pointer">

                    <!-- Image Logo -->
                    <a class="logo" ng-click="GoHome();">
                        <img src="https://interfaces.osprera.org.ar:25270/ControlesNG/includes/images/logo-sm.png" alt="" height="31" class="logo-small">
                        <img src="https://interfaces.osprera.org.ar:25270/ControlesNG/includes/images/logo.png" alt="" height="57" class="logo-large">
                    </a>

                </div>
                <!-- End Logo container-->

     
                <div class="menu-extras topbar-custom">
                
                    <login-control ng-show="user" user="user" logout-callback="GoSalir()" busy="busy" request-error="requestError" class="ng-isolate-scope">
                        <ul class="list-inline float-right mb-0">


                            <li class="list-inline-item dropdown notification-list" tooltip-placement="bottom" uib-tooltip="Estado de la conexion">

                                <a class="nav-link">

                                    <!-- ngIf: busy>0 -->
                                    <!-- ngIf: requestError>0 -->
                                    <!-- <i ng-if="!(busy>0 || requestError>0)" class="mdi mdi-cloud-check noti-icon"></i> -->
                                </a>

                            </li>


                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle  waves-effect nav-user" ng-click="noticias()" href="" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="dripicons-feed noti-icon"></i>
                                </a>

                                <!--div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" x-placement="bottom-end" style="position: absolute; transform: translate3d(-218px, 60px, 0px); top: 0px; left: 0px; will-change: transform;">

                                    <div class="dropdown-item noti-title">
                                        <h5>NOTICIAS OSPRERA</h5>
                                    </div>


                                    <a href="javascript:void(0);" class="dropdown-item notify-item active" ng-repeat="item in FeedOSPRERA.items">
                                        <div class="notify-icon bg-success">
                                            <i class="mdi mdi-cart-outline"></i>
                                        </div>
                                        <p class="notify-details">
                                            <a href="" target="_BLANK">
                                                <b>{{item.title}}</b>
                                                <small class="text-muted">Dummy text of the printing and typesetting industry.</small>
                                            </a>
                                        </p>
                                    </a>


                         

                                </div-->

                            </li>

                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle  waves-effect nav-user" data-toggle="dropdown" href="" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img ng-src="https://interfaces.osprera.org.ar:25270/ControlesNG/includes/images/users/anonUser.png" alt="user" class="rounded-circle" src="https://interfaces.osprera.org.ar:25270/ControlesNG/includes/images/users/anonUser.png">&nbsp;&nbsp;
                                    <b class="ng-binding">Vallejos, Lucas</b>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">

                                    <!--<a class="dropdown-item" href="">
                                        <i class="dripicons-user text-muted"></i> Perfil
                                    </a>-->
                                    <a class="dropdown-item" href="" ng-click="goUserProfile()">
                                        <i class="dripicons-user text-muted"></i> Perfil
                                    </a>
                                    <a class="dropdown-item ng-hide" href="" ng-click="goChangePassword()" ng-show="canChangePassword">
                                        <i class="dripicons-lock text-muted"></i> Cambiar Contraseña
                                    </a>

                                    <a class="dropdown-item" href="" ng-click="GoAyuda()">
                                        <i class="mdi mdi-help-circle-outline text-muted"></i> Ayuda
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="" ng-click="logout()">
                                        <i class="dripicons-exit text-muted"></i> Salir
                                    </a>
                                </div>

                            </li>


                        </ul>
                        
                        <style type="text/css">
                            .modal-lo {
                                min-width: 95% !important;
                            }
                        </style>

                        <script type="text/ng-template" id="noticiasTmpl.html" class="temp">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-title">Comunicaci&oacute;n Institucional</h4>
                                <!-- <p class="text-muted" style="text-align:right;">Presione ESC para cerrar</p> -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close();">
                                    <span aria-hidden="true">×</span>
                                </button>

                            </div>
                            <div class="modal-body" id="modal-body" style="height:74vh;">
                                <iframe style="width:100%; height:100%; border:0" src="https://info.osprera.org.ar/wiki/"></iframe>
                            </div>
                            <div class="modal-footer">
                                
                                <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
                            </div>
                        </script>
                    </login-control>
                </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div>
            <!-- end container -->
        </div>
    <!-- end topbar-main -->

    <!-- end topbar-main -->
    <!-- MENU Start -->
        <div class="navbar-custom" ng-show="ngModel.mostrarHeader">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li>
                            <a href="" ng-click="GoHome();">
                                <i class="ti-home"></i>Inicio
                            </a>
                        </li>
                        <!-- ngRepeat: m in Menu | filter:{Nivel: 2} -->
                    </ul>
                    <!-- End navigation menu -->
                </div>
                <!-- end #navigation -->
            </div>
            <!-- end container -->
    </div>
    <!-- end navbar-custom -->
 
    </header>
</encabezado-osprera>