<div id="content">
    
    <h2 >Operativo Nro {{operativo.id}} - {{operativo.tipo.nombre}}</h2>

    <h3>{{operativo.localidad.nombre}} - {{operativo.localidad.provincia.nombre}}</h3>
    <p>Fecha de inicio: {{operativo.fechaInicio |fecha}} </p>
    <p>Fecha de Finalizacion: {{operativo.fechaFin|fecha}}</p>

    <hr>
    <fichas-form (fichaAgregada)="fichaAgregada($event)" [operativo]="operativo" ></fichas-form>

    <hr>

    <div *ngIf="operativo">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Fecha de atención</th>
                </tr>
            </thead>
            
            <tbody >
                <tr *ngFor="let ficha of operativo.fichas">
                    <td>{{ficha.id}} {{ficha.persona.apellido}} {{ficha.persona.nombre}} </td>
                    <td>{{ficha.fechaAtencion}}  </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



