<div id="content">
    <fichas-form (fichaAgregada)="fichaAgregada($event)" [operativo]="operativo"></fichas-form>

    <br>

    <div *ngIf="operativo">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Fecha de atención</th>
                </tr>
            </thead>
            
            <tbody >
                <tr *ngFor="let ficha of operativo.fichas">
                    <td>{{ficha.id}} {{ficha.persona.apellido}} {{ficha.persona.nombre}} </td>
                    <td>{{ficha.fechaAtencion}}  </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



