<div class="row">
    <div class="col-12 col-md-6">
    
    <form  (ngSubmit)="buscarDNI()" >
        <div class="input-group">
            <div class="input-group-prepend">
                <span for="inputDNI" class="input-group-text"> <i class="material-icons">search</i></span>
            </div>
            
            <input id="inputDNI"  class="form-control" name="dni" placeholder="Ingrese DNI" 
                #dni="ngModel" type="number" [(ngModel)]="dniBusqueda">
        
                <div class="input-group-append">
                    <input  type="submit" value="Buscar" class="btn btn-secondary" >
                    
                </div>
        </div>

        
    </form>
    </div>
    
    <div class="col-12 col-md-6">
        <div class="jumbotron" *ngIf="encontrado" >
            <p>DNI: {{nuevaPersona.dni}} </p>
            <p>Nombre: {{nuevaPersona.nombre}}</p>
            <p>Apellido: {{nuevaPersona.apellido}}</p>
        </div>
        <div *ngIf="!encontrado && buscado">
            <form (ngSubmit)="agregar()">
                <h3><span class="badge badge-secondary">DNI: {{nuevaPersona.dni}} </span></h3>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span for="inputApellido" class="input-group-text">Apellido</span>
                    </div>
                    <input id="inputApellido" class="form-control" name="apellido" placeholder="Ingrese el apelldido"
                    #apellido="ngModel" type="text" [(ngModel)]="nuevaPersona.apellido">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span for="inputNombre" class="input-group-text"> Nombre</span>
                    </div>
                    <input id="inputNombre"  class="form-control" name="nombre" placeholder="Ingrese el nombre" 
                        #nombre="ngModel" type="text" [(ngModel)]="nuevaPersona.nombre">
                </div>
                
                <input class="btn btn-primary" type="submit" value="Agregar">
        
            </form>
        </div>
    </div>


    

</div>



